<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <%= render "shared/application_footer", location: 'top' %>
  </div>
</footer>